<div>
  <div class="page">
    <!--<div class="app-header">-->
    <!--<div class="app-header-navbar">-->
    <!--<span style="">事故快报</span>-->
    <!--</div>-->
    <!--</div>-->
    <div *ngIf="isLoading">
      <div class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
      </div>
    </div>
    <div class="page__bd app-content" *ngIf="!isLoading">
      <div class="drag_to_refresh" #dragRefresh></div>
      <div class="refresh" #refresh>刷新中...</div>
      <div class="drag" #drag (touchmove)="onMove($event)" (touchstart)="onStart($event)" (touchend)="onEnd()">
        <div *ngIf="isHasStat === true" style="height: 100%;">
          <div class="selected-time">
            <div class="weui-navbar">
              <div class="weui-navbar__item navbar-item"
                   [ngClass]="{'time-bar__item_on': selectedTime === 'month'}"
                   (click)="selectTime('month')">
                近一月
              </div>
              <div class="weui-navbar__item navbar-item"
                   [ngClass]="{'time-bar__item_on': selectedTime === 'season'}"
                   (click)="selectTime('season')">
                近三月
              </div>
              <div class="weui-navbar__item navbar-item"
                   [ngClass]="{'time-bar__item_on': selectedTime === 'year'}"
                   (click)="selectTime('year')">
                近一年
              </div>
              <div class="weui-navbar__item navbar-item"
                   [ngClass]="{'time-bar__item_on': selectedTime === 'date'}"
                   (click)="selectTime('date', bsRange)">
                选择时间
              </div>
            </div>
            <div class="date-picker"
                 [ngStyle]="{'opacity': isShowDate === true ? 1:0, 'height': isShowDate === true ? 'auto': '0px'}">
              <input type="text"
                     placeholder=""
                     class="form-control"
                     bsDaterangepicker
                     #bsRange="bsDaterangepicker"
                     [bsConfig]="{containerClass:'theme-dark-blue',showWeekNumbers: false}"
                     (bsValueChange)="onValueChange($event)">
            </div>

          </div>
          <div class="accident-list" [ngStyle]="{'display': isAccidentList === true ? 'block':'none'}">
            <div class="accident-project" *ngFor="let data of accidentList" (click)="detail(data)">
              <div class="flag" *ngIf="data.accident_level == 10" style="background: #5d90ff">
                <span>一般</span>
              </div>
              <div class="flag" *ngIf="data.accident_level == 20" style="background: #fe8119">
                <span>较大</span>
              </div>
              <div class="flag" *ngIf="data.accident_level == 30" style="background: #ed5fe3">
                <span>重大</span>
              </div>

              <div class="flag" *ngIf="data.accident_level == 40" style="background: #ff5b58">
                <span>特大</span>
              </div>
              <div class="content">
                <div class="detail">
                  <div class="title" [ngStyle]="{'color': data.is_check == '0'? '#333333' : '#999999'}">
                    {{data?.accident_name}}
                  </div>
                  <div class="second-letter" *ngIf="data.is_check == 0">
                    new
                  </div>
                  <div class="time">{{data?.ocurr_time}}</div>
                  <div class="address">
                    <img src="./assets/img/home/sglist_icon_local.png" alt=""
                         style="width: 10px; height: 12px;">
                    <span>{{data?.ocurr_location}}</span>
                  </div>
                </div>
                <!--<div class="action"><a (click)="detail(data)">前往</a></div>-->
              </div>
            </div>
          </div>
          <div style="text-align: center; position: fixed; z-index: 9999; width: 100%; bottom: 10px;" *ngIf="isManager">
            <button type="button" class="btn btn-primary" (click)="newAccident()"
                    style="height: 75px; width: 75px; line-height: 75px; border-radius: 50%; z-index: 9999;">
              <i class="fa fa-plus fa-2x"></i>
            </button>
          </div>

          <div class="" *ngIf="accidentList.length <= 0">
            <div class="weui-loadmore weui-loadmore_line">
              <span class="weui-loadmore__tips">暂无数据</span>

            </div>
          </div>
        </div>
        <div *ngIf="isHasStat === false" style="height: 100%;">
          <div class="weui-tab stat-type">
            <div class="weui-navbar">
              <div class="weui-navbar__item navbar-item accident-list-title"
                   [ngClass]="{'weui-bar__item_on': isAccidentList === true}"
                   (click)="selectAccidentList()">
                事故
              </div>
              <div class="weui-navbar__item navbar-item accident-stat-title"
                   [ngClass]="{'weui-bar__item_on': isAccidentList === false}"
                   (click)="selectStat()">
                统计
              </div>
            </div>
            <div class="weui-tab__panel">
              <div class="segmentation"></div>
              <div [ngStyle]="{'display': isAccidentList === true ? 'block':'none'}">
                <div class="selected-time">
                  <div class="weui-navbar">
                    <div class="weui-navbar__item navbar-item"
                         [ngClass]="{'time-bar__item_on': selectedTime === 'month'}"
                         (click)="selectTime('month')">
                      近一月
                    </div>
                    <div class="weui-navbar__item navbar-item"
                         [ngClass]="{'time-bar__item_on': selectedTime === 'season'}"
                         (click)="selectTime('season')">
                      近三月
                    </div>
                    <div class="weui-navbar__item navbar-item"
                         [ngClass]="{'time-bar__item_on': selectedTime === 'year'}"
                         (click)="selectTime('year')">
                      近一年
                    </div>
                    <div class="weui-navbar__item navbar-item"
                         [ngClass]="{'time-bar__item_on': selectedTime === 'date'}"
                         (click)="selectTime('date', bsRange)">
                      选择时间
                    </div>
                  </div>
                  <div class="date-picker"
                       [ngStyle]="{'opacity': isShowDate === true ? 1:0, 'height': isShowDate === true ? 'auto': '0px'}">
                    <input type="text"
                           placeholder=""
                           class="form-control"
                           bsDaterangepicker
                           #bsRange="bsDaterangepicker"
                           [bsConfig]="{containerClass:'theme-dark-blue',showWeekNumbers: false}"
                           (bsValueChange)="onValueChange($event)">
                  </div>

                </div>
                <div class="accident-list" >
                  <div class="accident-project" *ngFor="let data of accidentList" (click)="detail(data)">
                    <div class="flag" *ngIf="data.accident_level == 10" style="background: #5d90ff">
                      <span>一般</span>
                    </div>
                    <div class="flag" *ngIf="data.accident_level == 20" style="background: #fe8119">
                      <span>较大</span>
                    </div>

                    <div class="flag" *ngIf="data.accident_level == 30" style="background: #ed5fe3">
                      <span>重大</span>
                    </div>

                    <div class="flag" *ngIf="data.accident_level == 40" style="background: #ff5b58">
                      <span>特大</span>
                    </div>
                    <div class="content">
                      <div class="detail">
                        <div class="title" [ngStyle]="{'color': data.is_check == '0'? '#333333' : '#999999'}">
                          {{data?.accident_name}}
                        </div>
                        <div class="second-letter" *ngIf="data.is_check == 0">
                          new
                        </div>
                        <div class="time">{{data?.ocurr_time}}</div>
                        <div class="address">
                          <img src="./assets/img/home/sglist_icon_local.png" alt=""
                               style="width: 10px; height: 12px;">
                          <span>{{data?.ocurr_location}}</span>
                        </div>
                      </div>
                      <!--<div class="action"><a (click)="detail(data)">前往</a></div>-->
                    </div>
                  </div>
                  <div style="text-align: center; position: fixed; z-index: 9999; width: 100%; bottom: 10px;" *ngIf="isManager">
                    <button type="button" class="btn btn-primary" (click)="newAccident()"
                            style="height: 75px; width: 75px; line-height: 75px; border-radius: 50%; ">
                      <i class="fa fa-plus fa-2x"></i>
                    </button>
                  </div>
                  <div *ngIf="accidentList.length <= 0">
                    <div class="weui-loadmore weui-loadmore_line">
                      <span class="weui-loadmore__tips">暂无数据</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accident-stat" [ngStyle]="{'display': isAccidentList === false ? 'block':'none'}">
                <div #statPie style="width: 100vw;height:250px;"></div>
                <div class="accident-hint" *ngIf="!isAccidentList">
          <span>
            目前为止，本年度发生{{accidentStatInfo?.allStatisticsList[0]?.general_accident_num + accidentStatInfo?.allStatisticsList[0]?.greater_accident_num
            +accidentStatInfo?.allStatisticsList[0]?.important_accident_num + accidentStatInfo?.allStatisticsList[0]?.serious_accident_num}}起事故，
            其中较大及以上事故{{accidentStatInfo?.allStatisticsList[0]?.greater_accident_num
            +accidentStatInfo?.allStatisticsList[0]?.important_accident_num + accidentStatInfo?.allStatisticsList[0]?.serious_accident_num}}起，
            死亡人数{{accidentStatInfo?.allStatisticsList[0]?.company_died_amount +
            accidentStatInfo?.allStatisticsList[0]?.subcontract_died_amount +
            accidentStatInfo?.allStatisticsList[0]?.other_died_amount}}人。</span>
                  <!--<a href="" style="float: right;">-->
                  <!--<img src="./assets/img/home/sg_index_icon_go.png" alt=""-->
                  <!--style="width: 12px; height: 12px;">-->
                  <!--</a>-->
                </div>
                <div [ngStyle]="{'opacity': isGT === true ? 1:0, 'height': isGT === true ? 'auto': '0px'}">
                  <div #statBar style="width: 100vw;height:280px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="js_dialog" id="hintDialog" style="display: none;">
  <div class="weui-mask"></div>
  <div class="weui-dialog weui-skin_android">
    <div class="weui-loadmore">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在加载</span>
    </div>
  </div>
</div>
